.header-container {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-background-color);
    padding-inline: 3rem;
    box-shadow: 0 1px 3px #0000001a, 0 2px 2px #0000000f, 0 0 2px #00000012;

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .starbucks-logo {
            width: 55px;
        }

        h1 {
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}