.search-store-container {
    width: 20%;
    min-width: 200px;
    height: 100%;
    background-color: white;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;

    .country-details{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.1rem;
        font-family: sans-serif;
    }
}