.store-list-container {
    height: 100%;
    overflow-y: auto;
    text-align: left;

    .all-stores-title {
        text-align: center;
        position: sticky;
        background-color: white;
        top: 0;
        padding-block: 1.5rem;
    }
}